<app-auth-shell
  [title]="'Welcome back'"
  [subtitle]="'Log in to manage your pet visits'"
>
  <form (ngSubmit)="onSubmit()" class="form">
    <input
      type="text"
      [(ngModel)]="form.fullName"
      name="fullName"
      placeholder="Full Name"
      required
    />
    <input
      type="text"
      [(ngModel)]="form.petName"
      name="petName"
      placeholder="Pet Name"
      required
    />
    <input
      type="password"
      [(ngModel)]="form.password"
      name="password"
      placeholder="Password"
      required
    />

    <div class="auth-buttons">
      <button type="button" class="btn-outline" routerLink="/register">
        Register
      </button>
      <button type="submit" class="btn-primary">Login</button>
    </div>
  </form>
</app-auth-shell>
